.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 67px 0 60px;
  flex-shrink: 0;
}

@media screen and (max-width: 918px) {
  .footer {
    width: 88%;
  }
}

@media screen and (max-width: 552px) {
  .footer {
    padding: 48px 0 36px;
  }
}