.profile__avatar-button {
  grid-area: avatar;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.profile__avatar-button::after {
  content: '';
  background-color: rgba(0, 0, 0, .6);
  background-image: url(../../../images/Vector-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.profile__avatar-button:hover::after {
  opacity: 1;
  cursor: pointer;
}
